* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1rem;
}

/* liste des recettes */

.recipe_container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 50px;
    justify-content: center;

    padding: 50px 200px;
}

.recipe_card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: max-content;
}

.recipe_image_container {
    width: 200px;
    height: 200px;
    
    overflow: hidden;

    border-radius: 10px;
}

.recipe_image_container img {
    width: 100%;
    height: 100%;

    transition: ease-in-out 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

.recipe_infos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.recipe_actions {
        display: flex;
        flex-direction: row;
    }
}



/* DÉTAIL RECETTE */

.detail_image_container {
    height: 400px;
    width: 400px;
}

.detail_image_container img {
    width: 100%;
    height: 100%;
}