{% extends 'base.html.twig' %} {% block title %}Hello AdminController!{%
endblock %} {% block body %}
<div class="wrapper">
  {% for user in users %}
  <a href="#">
    {{ user.pseudo }}
  </a>
  {% endfor %}
</div>
{% endblock %}
