{% if recipe.notes|length > 0 %}
    <!-- Note arrondie au demi ou entier le plus proche -->
    <!--
        1.3 => 1.5
        3.8 => 4
    -->
    {% set roundedNote = (recipe.averageNote * 2)|round / 2 %}
  
    <div title={{ recipe.averageNote ~ "/5" }} class="stars_container">
        <!-- Remplissage d'étoiles pleines -->
        {% if roundedNote|round(0, 'floor') > 0 %} 
            {% for i in range(1, roundedNote|round(0, 'floor'), 1) %}
                  
                <i class="fa-solid fa-star"></i>
                  
            {% endfor %}
        {% endif %}

        <!-- Ajout demi-étoile si roundedNote décimal -->
        {% if roundedNote != roundedNote|round(0, 'floor') %}

            <i class="fa-solid fa-star-half-stroke"></i>

        {% endif %}

        <!-- Complétion avec étoiles vides si besoin -->
        {% if roundedNote|round(0, 'ceil') < 5 %}
            {% for i in range(roundedNote|round(0, 'ceil'), 4, 1) %}
                  
                <i class="fa-regular fa-star"></i>
                  
            {% endfor %}
        {% endif %}
    </div>
  
{% else %}
  
    <div title="Non noté" class="stars_container">
        {% for i in range(1, 5, 1) %}

            <i class="fa-solid fa-star" style="color: #a0a0a0"></i>
                  
        {% endfor %}
    </div>
  
{% endif %}