{% extends 'base.html.twig' %}

{# {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/listFavorites.css') }}" />

{% endblock %} #}

{% block javascripts %}

    <script src="{{ asset('js/script.js') }}" defer></script>

{% endblock %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Vos favoris | Cuizinoz{% endblock %}

{% block body %}

<div class="wrapper">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><span aria-current="page">Favoris</span></li>
        </ol>
    </nav>

    <h1>Vos favoris</h1>

    {% include "components/_recipeContainer.html.twig" with { recipes: recipes, filterForm: filterForm, context: 'favorites' } only %}  

</div>
{% endblock %}